# Dependências
node_modules/

# Build e arquivos gerados
dist/
.angular/
tmp/
out-tsc/
bazel-out/

# Testes e relatórios
coverage/
*.lcov

# Arquivos de ambiente locais 
.env
.env.*
!.env.example

# Logs do Node e NPM
npm-debug.log
yarn-error.log
*.log

# Configurações de IDEs e Editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store